.error {
	color: red;
	background: lightgrey;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
}

.success {
	color: rgb(30, 105, 24);
	background: lightgrey;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
}
